* {
  box-sizing: border-box;
  color: hsl(228, 12%, 44%);
}

body {
  font-family: "Inter", sans-serif;
  padding: 50px 75px;
  background-color: hsl(0, 0%, 100%);
}

.dark-theme {
  font-family: "Inter", sans-serif;
  background-color: hsl(232, 19%, 15%);
}

.dark-theme .num-foll {
  color: white;
}

header {
  display: flex;
}

header section h1 {
  display: block;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 800;
  color: black;
}

.dark-theme header section h1 {
  display: block;
  color: white;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 800;
}

.dark-theme .first ul:first-child li:last-child {
  color: white;
}

header section h3 {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

.dm {
  margin: auto 0 auto auto;
}

.toggle {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
}

label {
  font-size: 18px;
  margin: 0 7px;
}

.dark-theme.toggle {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.toggler {
  height: 19px;
  width: 48px;
  content: "";
  border-radius: 100px;
  background: hsl(230, 22%, 74%);
  position: relative;
  cursor: pointer;
}

.slider {
  position: absolute;
  display: flex;
  height: 14px;
  width: 14px;
  background: white;
  content: "";
  border-radius: 100px;
  top: 2.4px;
  left: 4px;
  transition: transform 0.8s ease;
  transform: translateX(0px);
}

.slider.dark-theme {
  transform: translateX(26px);
  background: black;
}

.toggler.dark-theme {
  background: linear-gradient(to left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

i {
  margin: 5px auto;
}

#theme-sun {
  margin-left: 5px;
}

#theme-moon {
  margin-left: 10px;
}

@media screen and (max-width: 1440px) {
  header {
    margin-bottom: 30px;
  }

  .main-dash {
    display: flex;
    justify-content: space-between;
  }

  .big-dash {
    height: 230px;
    width: 267px;
  }

  .big-dash:hover,
  .small-dash:hover {
    background-color: hsl(225, 100%, 98%);
  }

  .dark-theme .big-dash:hover,
  .small-dash:hover {
    background-color: #252a41;
  }

  .container {
    text-align: center;
  }

  p.user {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .num-foll {
    font-size: 48px;
    font-weight: 800;
    margin-top: auto;
    margin-bottom: 1px;
    color: black;
  }

  .followers {
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .today-Follows {
    font-size: 14px;
    font-weight: 450;
  }

  .today-Follows.up {
    color: hsl(163, 72%, 41%);
  }

  .today-Follows.up:before {
    content: url("images/icon-up.svg");
    vertical-align: 20%;
  }

  .today-Follows.down {
    color: hsl(356, 69%, 56%);
  }

  .today-Follows.down:before {
    content: url("images/icon-down.svg");
    vertical-align: 20%;
  }

  .contenedor-dash {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  .small-dash {
    height: 115px;
    width: 267px;
  }

  .first {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .first ul {
    margin: 0;
    padding: 0;
  }

  .first ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .first ul li:first-child {
    margin: 0 0 25px 0;
    font-weight: bold;
  }

  .first ul:first-child li:last-child {
    font-size: 36px;
    color: black;
    font-weight: bold;
  }

  . .first ul:last-child li {
    text-align: end;
  }

  /* .first {
    display: flex;
    justify-content: space-between;
  }

  .second {
    display: flex;
    justify-content: space-between;
  }

  .over-follows,
  .percentage {
    margin: 0px;
  }

  .titulo-desc {
    margin: 0px;
  } */
}

.ig {
  content: "";
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #fdc468, #df4996);
  border-radius: 20px 20px 0px 0px;
}

.twr {
  content: "";
  height: 4px;
  width: 100%;
  background: hsl(203, 89%, 53%);
  border-radius: 20px 20px 0px 0px;
}

.fbk {
  content: "";
  height: 4px;
  width: 100%;
  background: hsl(208, 92%, 53%);
  border-radius: 20px 20px 0px 0px;
}

.yt {
  content: "";
  height: 4px;
  width: 100%;
  background: hsl(348, 97%, 39%);
  border-radius: 20px 20px 0px 0px;
}

footer {
  text-align: center;
}
